body {
  background-color: #000;
  width: 367px;
  height: 310px;
  margin: 0;
  font-family: "Ruji's Handwriting Font v.2.0", sans-serif;
  display: flex;
  user-select: none;
}

a {
  color: #fff;
}

.b {width: 7px;}
.s {width: 3px;}

.info {font-size: 8px; color: #999; margin-top: -5px;}
.mini {font-size: 6px;}
.small {font-size: 10px;}
.big {font-size: 15px;}

.sep {border-left: 2px solid #555; height: 30px;}
.seps {border-left: 2px solid #444; height: 17px; padding-right: 5px;}

.widget {
  background-color: #333333;
  position: flex;
  width: 367px;
  height: 310px;
  padding: 2px 7px 7px 7px;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 1px solid #fff; */
}

.list {
  display: flex;
  align-items: center;
  width: 500px;
  height: 30px;
  overflow-x: visible;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
  /* border: 1px solid #fff; */
}

::-webkit-scrollbar {
  height: 4px;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0;
  overflow: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
  width: 40px;
  /* border: 1px solid #fff; */
}

.conveniently-placed-div {
  height: 3px;
}

.player {
  display: flex;
  width: 366px;
  height: 275px;
  /* border: 1px solid #fff; */
}

.select {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0;
  height: 30px;
  width: fit-content;
}

.buttons {
  height: 30px;
  width: 20px;
  margin-left: 5px;
  font-size: 2;
  display: block;
  justify-content: right;
  align-items: center;
  float: left;
  clear: none;  
}

.dark {
  background-color: rgba(0,0,0,0.5);
  margin-top: -100px;
  margin-left: -100px;
  position: absolute;
  width: 1000px;
  height: 1000px;
  z-index: 30;
  /* display: none; */
}

.popup {
  background-color: #333;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 35px;  
  margin-top: 70px;
  width: 300px;
  height: 150px;
  z-index: 50;
  flex-direction: column;
}

.poptwo {
  width: 150px;
  height: 300px;
  margin-left: 100px;
  margin-top: 7px;
}

.close {
  display: absolute;
  margin-right: -260px;
  margin-top: 6px;
}

.close2 {
  display: absolute;
  margin-right: -120px;
  margin-top: -10px;
}

.close3 {
  display: absolute;
  margin-right: -260px;
  margin-top: -3px;
}

.link {
  color: #50c8fb;
  text-decoration: underline;
}

.prettyprint {
  background-color: #fff;
  border: none;
  width: 250px;
  position: flex;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  user-select: text;
}